<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/assets/css/reset.css" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" href="../static/assets/css/home.css" th:href="@{/assets/css/home.css}">
    <link rel="stylesheet" href="../static/assets/css/header.css" th:href="@{/assets/css/header.css}">
    <link rel="stylesheet" href="../static/assets/css/form.css" th:href="@{/assets/css/form.css}">
    <link rel="stylesheet" href="../static/assets/css/uploadForm.css" th:href="@{/assets/css/uploadForm.css}">
</head>

<body>
    <header>
        <div class="container navbar">
            <div class="logo left">
                <a href="#"><img src="../static/Assets/logo.svg" th:src="@{/assets/images/logo.svg}" alt="Logo"></a>
            </div>
            <div class="middle">
                <div class="nav-item"><a class="nav-link" href="#" th:href="@{/home}">Home</a></div>
                <div class="nav-item" sec:authorize="isAuthenticated()" th:if="${user.currentSemester > 3}"><a href="#"
                        th:href="@{/upload}" class="nav-link">Upload Documents</a></div>
                <div class="nav-item" sec:authorize="isAuthenticated()"><a href="#" th:href="@{/choice-filling}"
                        class="nav-link">Choice Filling</a></div>
                <div class="nav-item seperator"></div>
                <div class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link" href="#"
                        th:href="@{/login}">Login</a>
                </div>
                <div class="nav-item" sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"
                        class="nav-link">Log
                        Out</a></div>
            </div>
            <div class="right">
                <a href="/choice-details" class="current-user bold-text">
                    <img src="./../static/Assets/user.png" th:src="@{/assets/images/user.png}" alt="">
                    <span th:if="${user}" th:text="${user.firstName}"></span><span th:if="!${user}">Username</span>
                </a>
            </div>
        </div>
    </header>

    <section>
        <div class="container container-main">
            <div class="row alert alert-primary-red" th:if="${errorMessage}">
                <p th:text="${errorMessage}"></p>
            </div>
            <div class="center-heading">
                <h2>Upload File Example</h2>
            </div>
            <div class="form-container">
                <div class="myForm">
                    <p class="alert alert-primary-green" id="file-result">[MAX FILE SIZE = 2MB]</p>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <form method="post" name="uploadingForm" th:action="@{/upload}" enctype="multipart/form-data">
                        <div class="form-items">
                            <label for="file">Elective Mark Sheet</label>
                            <input type="file" name="file" id="file" accept="application/pdf">
                        </div>
                        <div class="form-items">
                            <label for="semester">Semester</label>
                            <select name="semester" id="semester">
                                <th:block th:if="${user.currentSemester} >= 3">
                                    <option th:each="i : ${#numbers.sequence(3, user.currentSemester - 1)}"
                                        th:value="${i}" th:text="Semester+' '+${i}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-items">
                            <button type="submit" id="submitBtn">Upload File</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/assets/js/upload.js}"></script>

</body>

</html>